.imagenDescarga{
    width:250px
}

.contenedorDescarga{
    height: 1100px;
    background-image: $gradiente;

    h2{
        color: $color-s1;
        @include estilo(40px);
    }
}



.cajaFlex a:hover ~ img{
    transform: translateY(-5px);
}

.botonDescarga{
    color: map-get($paleta, primario);
    background-color: map-get($paleta, secundarioA);
    text-decoration: none;
    width: 250px;
    font-size: 25px;
}

@media(min-width:576px){
    .contenedorDescarga{
        height:400px;
    }
}
