.headerTitulo{
    font-family:$font-p;
    color:map-get($paleta, primario);
}

.imagenMuestra{
    width:250px
}

.contenedorMuestras{
    height: 1000px;
    background-color: map-get($paleta, secundarioB);
}

.contenedorMain{
    background-image: $gradiente;
}

.contenedorMain h2, p{
    color: map-get($paleta, secundarioA);
}

.contenedorMain h2{
    @include estilo(40px);
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
    0%{
        transform: translateY(3px)
    }
    50%{
        transform: translateY(-3px)
    }

    100%{
        transform: translateY(3px);
    }
}


.contenedorMuestras img:hover{
    transform: translateY(-5px);
}

.contenedorFooter{
    background-color: map-get($paleta, secundario);
}

.contenedorFooter a{
    color: map-get($paleta, primario);
    background-color: map-get($paleta, secundarioA);
    text-decoration: none;
    width: 100px;
}

.iconos svg {
    @extend %iconoSvg;
}

.iconos{
    width: 150px;
}

@media(min-width:576px){
    .contenedorMuestras{
        height: 400px;
    }
}