.headerTitulo{
    font-family:$font-p;
    color:map-get($paleta, primario);
}

.imagenMuestra{
    width:250px
}

.contenedorMuestras{
    height: 1000px;
    background-color: map-get($paleta, secundarioB);
}

.contenedorMain{
    background-image: $gradiente;

    h2{
        color: map-get($paleta, secundarioA);
        @include estilo(40px);
        animation-duration: 3s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
    }

    p{
        color: map-get($paleta, secundarioA);
    }
}

@keyframes aparecer{
    0%{
        transform: translateY(3px)
    }
    50%{
        transform: translateY(-3px)
    }

    100%{
        transform: translateY(3px);
    }
}


.contenedorMuestras img:hover{
    transform: translateY(-5px);
}

.contenedorFooter{
    background-color: map-get($paleta, secundario);

    a{
        color: map-get($paleta, primario);
        background-color: map-get($paleta, secundarioA);
        text-decoration: none;
        width: 100px; 
    }

    p{
        color: map-get($paleta, secundarioA);
    }
}

.iconos{
    width: 150px;

    svg{
        @extend %iconoSvg;
    }
}

@media(min-width:576px){
    .contenedorMuestras{
        height: 400px;
    }
}