.contenedorNosotros{
    background-image: $gradiente;

    h2{
        @include estilo(40px);
        color: map-get($paleta, secundarioA);
    }

    img{
        width: 75%;
    }

    p{
        color: map-get($paleta , secundarioA );
    }
}

@media(min-width:576px){
    .contenedorNosotros img{
        width: 50%;
    }
}
