.subcontenedorTable{
    background-image: $gradiente;
    color: $color-s1;
}

.subcontenedorTable table{
    color: $color-s1;
}

.subcontenedorTable h2{
    font-family:$font-p;
    font-size: 40px;
}