.subcontenedorTable{
    background-image: $gradiente;
    color: map-get($paleta, secundarioA);
}

.subcontenedorTable table{
    color: map-get($paleta, secundarioA);
}

.subcontenedorTable h2{
    @include estilo(40px);
}