.subcontenedorTable{
    background-image: $gradiente;
    color: map-get($paleta, secundarioA);

    table{
        color: map-get($paleta, secundarioA);
    }

    h2{
        @include estilo(40px);
    }
}
