.headerTitulo{
    font-family:"Fredoka One", arial;
    color:#3DB2FF
}

.headerLink{
    font-family:"Fredoka One", arial;
}

.mainFondo{
    background-image: linear-gradient(#3DB2FF, #036db4);
}

.mainImage{
    max-width:600px;
}

.fontTexto{
    font-size: 150%;
    color: #FFEDDA;
}

.fontSub{
    font-family: "Fredoka One", arial;
    color: #FFEDDA;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
    0%{
        transform: translateY(3px)
    }
    50%{
        transform: translateY(-3px)
    }

    100%{
        transform: translateY(3px);
    }
}

.fondoCarrusel{
    background-image: url(../imgenes/fondoRojo.png);
}

.contenedorFooterFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    min-height:230px;
    margin: auto;
}

footer{
    background-color: #FFB830;
}

.contenedorFooterFlex p{
    color: white;
}

.contenedorFooterFlex a{
    background-color: #FFEDDA;
    color: #3DB2FF;
    font-family:"Fredoka One", arial;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    text-decoration: none;
}

/* pagina Contenido*/

.contenedorFlexHojas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(#3DB2FF, #036db4);
}

.cajaFlex{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.cajaFlex img{
    width: 300px;
    margin-top: 40px ;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 20%);
}

.cajaFlex a{
    width: 300px;
    text-decoration: none;
    text-align: center;
    background-color: #FFEDDA;
    color: #3DB2FF;
    font-family:"Fredoka One", arial;
    font-size: 30px;
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 20%);
}

.cajaFlex a:hover ~ img{
    transform: translateY(-5px);
}

/*estilo pagina Nosotros*/
.contenedorPresentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#3DB2FF, #036db4);
}

.contenedorPresentacion img{
    width: 500px;
    border-radius: 600px;
    margin-top: 30px;
}

.contenedorPresentacion h2{
    font-size: 30px;
    color: #FFEDDA;
    margin-top: 30px;
}

.contenedorPresentacion p{
    text-align: center;
    color: #FFEDDA;
    width: 500px;
    margin:30px 0;
}

/*estilo pagina Nosotros*/
.contenedorPresentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#3DB2FF, #036db4);
}

.contenedorPresentacion img{
    max-width: 100%;
    border-radius: 600px;
    margin-top: 30px;
}

.contenedorPresentacion h2{
    font-size: 30px;
    color: #FFEDDA;
    margin-top: 30px;
}

.contenedorPresentacion p{
    text-align: center;
    color: #FFEDDA;
    max-width: 100%;
    margin:30px 0;
}

/*estilo pagina Empleo*/

.contenedorTabla{
    background-image: linear-gradient(#3DB2FF, #036db4);
    color: #FFEDDA;
}

.contenedorTabla h2{
    font-family:"Fredoka One", arial; ;
}

.table th, td{
    color:#fff;
}

.btnColor{
    background: #FFB830;
    color: #FFEDDA;
}